###########################################################
# Copyright (C) 2022-2025 IOTech Ltd
###########################################################

name: golangci-lint

on:
  workflow_call:
    inputs:
      WORKING_DIRECTORY:
        description: The working directory, default is project root.
        required: false
        type: string
        default: "."
      GO_LINT_CONFIG_PATH:
        # https://golangci-lint.run/usage/configuration#config-file
        description: The GolangCI-Lint config path which is relative to WORKING_DIRECTORY, default is no config.
        required: false
        type: string
      GO_LINT_VERSION:
        description: The GolangCI-Lint version, default is v1.61.0.
        required: false
        type: string
        default: v1.61.0
      REQUIRED_PACKAGES:
        description: The required packages are installed by apt, seperate the packages with spaces.
        required: false
        type: string
      USE_PRIVATE_MODULE:
        description: If true, set up the environment for the private go modules, and retrieve the modules versions from scripts/Jenkinsfile.
        required: false
        type: boolean
        default: false
      MAKE_PREPARE:
        description: If true, run `make prepare` before golangci-lint.
        required: false
        type: boolean
        default: false

permissions:
  contents: read
 
jobs:
  golangci:
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: lint
    runs-on: ubuntu-latest
    env:
      GOLANGCI_LINT_VERSION: ${{ inputs.GO_LINT_VERSION }}
      GOLANGCI_LINT_FLAGS: --max-same-issues 50 --build-tags dev
      GOPRIVATE: github.com/IOTechSystems
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      # Optionally setup access to docker repos
      # Install Golang
      - uses: actions/setup-go@v5
        with:
          # Retrieve go version from go.mod
          go-version-file: "${{ inputs.WORKING_DIRECTORY }}/go.mod"  
          cache-dependency-path: "${{ inputs.WORKING_DIRECTORY }}/go.sum"
      - name: Install required packages
        if: ${{ inputs.REQUIRED_PACKAGES != '' }}
        run: |
          sudo apt update && sudo apt install ${{ inputs.REQUIRED_PACKAGES }}
            # Login to Docker Hub (only if credentials provided)
            
      # Login to Docker Hub (only if credentials provided)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      
      # Login to JFrog registries (if using username + token)
      - name: Login to JFrog Registries
        run: |
          echo "${{ secrets.JFROG_TOKEN }}" | docker login iotech-baseimages.jfrog.io -u "${{ secrets.JFROG_USERNAME }}" --password-stdin
          echo "${{ secrets.JFROG_TOKEN }}" | docker login iotech-edgexpert.jfrog.io -u "${{ secrets.JFROG_USERNAME }}" --password-stdin
          echo "${{ secrets.JFROG_TOKEN }}" | docker login iotech-releases.jfrog.io -u "${{ secrets.JFROG_USERNAME }}" --password-stdin
          echo "${{ secrets.JFROG_TOKEN }}" | docker login iotech-services.jfrog.io -u "${{ secrets.JFROG_USERNAME }}" --password-stdin
          
      # Set up environment for private modules
      - name: Set up for private modules
        if: ${{ inputs.USE_PRIVATE_MODULE }}
        run: |
          echo "license-version=$(grep -E '(licenseValidatorGoVersion|LICENSE_VALIDATOR_GO_VERSION):' scripts/Jenkinsfile | cut -d '"' -f 2)" >> $GITHUB_ENV
          echo "device-sdk=$(grep -E 'deviceSdkGoVersion:' scripts/Jenkinsfile | cut -d '"' -f 2)" >> $GITHUB_ENV
          echo "opc-ua-browser-version=$(grep -E '(opcUaBrowserVersion|OPC_UA_BROWSER_VERSION):' scripts/Jenkinsfile | cut -d '"' -f 2)" >> $GITHUB_ENV
          git config --global --add url.https://${{ secrets.JENKINS_PAT }}@${{ env.GOPRIVATE }}.insteadOf https://${{ env.GOPRIVATE }}
      # Use private license-validator-go module
      - name: Replace license-validator-go module
        # variable from the previous step
        if: ${{ env.license-version }}
        run: sed -i "s#\(license.*\)\(=> \).*#\1\2${{ env.GOPRIVATE }}/\1 ${{ env.license-version }}#" ${{ inputs.WORKING_DIRECTORY }}/go.mod
      # Use private device-sdk-go-private module
      - name: Replace device-sdk-go-private module
        # variable from the previous step
        if: ${{ env.device-sdk }}
        run: sed -i "s#\(device-sdk-go\)\(.*\)\(=> \).*#\1\2\3${{ env.GOPRIVATE }}/\1-private\2 ${{ env.device-sdk }}#" ${{ inputs.WORKING_DIRECTORY }}/go.mod
      # Use private opc-ua-browser module
      - name: Replace opc-ua-browser module
        # variable from the previous step
        if: ${{ env.opc-ua-browser-version }}
        run: sed -i "s#\(opc-ua-browser.*\)\(=> \).*#\1\2${{ env.GOPRIVATE }}/\1 ${{ env.opc-ua-browser-version }}#" ${{ inputs.WORKING_DIRECTORY }}/go.mod
      # Run make prepare
      - name: Run make prepare
        if: ${{ inputs.MAKE_PREPARE }}
        working-directory: ${{ inputs.WORKING_DIRECTORY }}
        run: make prepare
      # Load packages
      - name: Run go mod tidy
        working-directory: ${{ inputs.WORKING_DIRECTORY }}
        run: |
          grep replace go.mod || true
          go mod tidy
      # Run Go linters       
      - name: Run golangci-lint v1
        if: startsWith(env.GOLANGCI_LINT_VERSION, 'v1.')
        uses: golangci/golangci-lint-action@c67416616c29c3c48d26b59c45cadb56966d80aa
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: ${{ env.GOLANGCI_LINT_VERSION }}

          # Optional: working directory, useful for monorepos
          working-directory: ${{ inputs.WORKING_DIRECTORY }}

          # Optional: golangci-lint command line arguments.
          args: "--print-issued-lines ${{ env.GOLANGCI_LINT_FLAGS }} ${{ inputs.GO_LINT_CONFIG_PATH != '' && format('--config {0}', inputs.GO_LINT_CONFIG_PATH) || '--no-config' }}"
          skip-cache: true
      - name: Run golangci-lint v2+
        if: ${{ !startsWith(env.GOLANGCI_LINT_VERSION, 'v1.') }}
        uses: golangci/golangci-lint-action@v8
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

          working-directory: ${{ inputs.WORKING_DIRECTORY }}

          args: "${{ env.GOLANGCI_LINT_FLAGS }} ${{ inputs.GO_LINT_CONFIG_PATH != '' && format('--config {0}', inputs.GO_LINT_CONFIG_PATH) || '--no-config' }}"
          skip-cache: true
